@model Api_Oficina.Models.Premium

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Você tem certeza que deseja deletar isso?</h3>
<div>
    <h4>Premium</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipodepremium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipodepremium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descontodopremium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descontodopremium)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PremiumId" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn-primary">Voltar</a>
    </form>
</div>
