@model Api_Oficina.Models.Pedidopeca

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pedidopeca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pedido.PedidoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastropecasId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastropecasId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PedidopecaId" class="btn-primary">Editar</a> |
    <a asp-action="Index" class="btn-primary">Voltar</a>
</div>
