@model Api_Oficina.Models.Cliente

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClienteId" />
            <div class="form-group">
                <label asp-for="Nomecliente" class="control-label"></label>
                <input asp-for="Nomecliente" class="form-control" />
                <span asp-validation-for="Nomecliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpfCliente" class="control-label"></label>
                <input asp-for="CpfCliente" class="form-control" />
                <span asp-validation-for="CpfCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailCliente" class="control-label"></label>
                <input asp-for="EmailCliente" class="form-control" />
                <span asp-validation-for="EmailCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datadenacimentocliente" class="control-label"></label>
                <input asp-for="Datadenacimentocliente" class="form-control" />
                <span asp-validation-for="Datadenacimentocliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefoneCliente" class="control-label"></label>
                <input asp-for="TelefoneCliente" class="form-control" />
                <span asp-validation-for="TelefoneCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PremiumId" class="control-label"></label>
                <select asp-for="PremiumId" class="form-control" asp-items="ViewBag.PremiumId"></select>
                <span asp-validation-for="PremiumId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
